.mainContainer {
  border: 1px solid black;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.inpContainer input {
  width: 95%;
  font-size: 20px;
}

.deleteButton:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.toDoTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  width: 100%;
}

.toDoTable td {
  border: 1px solid black;
  padding: 5px 10px;
  width: max-content;
}

.toDoTable th {
  border: 1px solid black;
  padding: 5px 10px;
  width: max-content;
}
